[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

yapf = "*"
ipython = "*"


[packages]

datarobot = "<2.7,>=2.6"
click = "==6.7"
pandas = ">=0.21.0"
numpy = ">=1.13.0"
requests = ">=2.18.0"
scikit-learn = "*"
sklearn = "*"
scipy = "*"
"jinja2" = "*"
sqlalchemy = "*"
smart-open = "*"
pyaml = "*"
pykwalify = "*"
update = "*"


[requires]

python_version = "3.6"
